<%= link_to "New Article", new_blog_post_path %>

<% for blog_post in @blog_posts %>
  <h3><%= link_to blog_post.title, blog_post_path(blog_post) %></h3>

  <p>
    <%= blog_post.content %>
  </p>
<% end %>